<div class="form-clean">
  <form method="post" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <h2 class="sr-only">Signup Form</h2>
    <div class="logo">
      <img src="assets/agora.png" class="form-logo">
    </div>
    <mat-form-field class="form-group">
      <input matInput type="text" class="form-control" name="identifier" #identifier="ngModel" [(ngModel)]="signup.identifier" placeholder="User name"
        required>
        <div *ngIf="identifier.invalid&&(identifier.dirty||identifier.touched)" class="alert alert-danger">
          <div *ngIf="identifier.errors.required">
            User name is required
          </div>
        </div>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="signup.firstName" placeholder="First name"
        required>
        <div *ngIf="firstName.invalid&&(firstName.dirty||firstName.touched)" class="alert alert-danger">
          <div *ngIf="firstName.errors.required">
            First name is required
          </div>
        </div>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="signup.lastName" placeholder="Last name" required>
      <div *ngIf="lastName.invalid&&(lastName.dirty||lastName.touched)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            Last name is required
          </div>
        </div>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="signup.email" placeholder="Email" required>
      <div *ngIf="email.invalid&&(email.dirty||email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            email is required
          </div>
        </div>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="signup.password" placeholder="Password"
        required minlength="8">
        <div *ngIf="password.invalid&&(password.dirty||password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            password is required
          </div>
          <div *ngIf="password.errors.minlength">
            password must be at least 8 characters long
          </div>
        </div>
    </mat-form-field>
    <div class="form-group">
      <button class="btn btn-primary btn-round btn-block" [disabled]="!userRegistrationForm.valid || isLoading || socialLoading" type="submit">
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>{{message}}</button>
    </div>
  </form>
  <div class="have-account">
    Already have an account?
    <a routerLink="/signin" class="signin">Sign In</a>
  </div>
  <a class="forgot">OR</a>
  <app-social-login [disabled]="isLoading || socialLoading" (isCurrentlyLoading)="socialLoading=$event"></app-social-login>
  <div *ngIf="error" class="error">
    An error occured please try again.
  </div>
  <div *ngIf="success" class="success">
    An activation link has been sent to your email. Follow it to activate your account.
  </div>
</div>